<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{path}/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=0.7" />
    <title>{s_title}</title>
  </head>
  <body>
      <div id="estilo3" class="formulario">
        <h1>{s_title}</h1>
      </div>
      <div id="estilo2" class="formulario2">
        <div>
          <form action="{path}" method="POST">
            <input name="lang" type="submit" value="English">
            <input name="lang" type="submit" value="Español">
          </form>
        </div>
      </div>
      <div id="estilo" class="formulario">
        <p class="error">{notice}</p>
        <form action="{path}" method="POST">
        <table>
          <tbody>
            <tr>
              <th>{s_username}:</th>
              <td><input name="username" required>@{hostname}</td>
            </tr>
            <tr>
              <th>{s_password}:</th>
              <td><input name="password" required type="password"></td>
            </tr>
            <tr>
              <th>{s_passwordconfirm}:</th>
              <td><input name="confirm_password" required type="password"></td>
            </tr>
            {captcha}
            <input name="lang" type="hidden" value="{s_lang}">
            <tr>
              <td colspan="2"><input id="button" class="button" type="submit" value="{s_register}"></td>
            </tr>
          </tbody>
        </table>
        </form>
      </div>
  </body>
</html>
